@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    color: #4B4453;
}

body {
    margin: 6rem 1rem;
    height: 1vh;
    width: auto;
    text-align: center;
    background-color: #fff6ff;
}

.home_button {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.name {
    color: #845EC2;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
}

.description {
    font-size: 2.4rem;
    text-transform: uppercase;
}

table {
    border: 1px solid gray;
    border-collapse: collapse;
    margin-top: 8rem;
    width: 100%;

}

th, td {
    border: 1px solid gray;
    padding: 1rem;
    font-size: 1.5rem;
}